body {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 0px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: rgb(150, 161, 172);
    font-family:'Times New Roman', Times, serif;
}

a:link {
    text-decoration: none;
    text-decoration-color: none;
}

a:hover {
    text-decoration-color: none;
    text-decoration-line: underline;
}

.testimonials-links, a:link, a:hover, a:visited, .header, .logo, .left-header, .left-main-body, .right-header, .main-body, .kitchen-img, .main-body-text, .footer, .testimonials-header, .testimonials-text, .testimonials-body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    gap: 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(150, 161, 172);
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color: darkslategrey;
    width: auto;
    height: 120px;
}

.logo {
    height: auto;
    width: 100%;
    min-width: 200px;
    display: flex;
}

.left-header{
    width:350px;
    height: auto;
    padding: 40px;
}

.right-header{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
    padding:10px;
    font-size: 25px;
}

.main-body{
    height: 750px;
    width: auto;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    padding-top: 50px;
    background-color: rgb(37, 37, 37);
    gap: 100px;  
}

.kitchen-img {
    display:flex;
    height: auto;
    width: 100%;
}

.left-main-body {
    display:flex;
    padding-left: 30px;
    width: 1066px;
    height: auto;
}

.main-body-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:x-large;
    width: 400px;
    height: auto;
    gap: 70px;
}


.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: darkslategrey;
}

.testimonials-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-body {
    background-color: rgb(51, 47, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.testimonials-text, .testimonials-reallinks {
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    height: auto;
}

.testimonials-links {
    display: flex;
    flex-direction: column;
}