body {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 0px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: rgb(150, 161, 172);
    font-family:'Times New Roman', Times, serif;
}

a:link {
    text-decoration: none;
    text-decoration-color: none;
}

a:hover {
    text-decoration-color: none;
    text-decoration-line: underline;
}

.contact-main-body, .mid-header, .testimonials-links, a:link, a:hover, a:visited, .header, .logo, .left-header, .left-main-body, .right-header, 
.main-body, .kitchen8, .main-body-text, .footer, .testimonials-header, .testimonials-text, .testimonials-body, .BeforeAndAfterBody, .FirstBefore, 
.FirstAfter, .kitchen9, .kitchen8before, .kitchen8before2, .kitchen7 {
    padding: 0px;
    margin: 0px;
    border: 0px;
    gap: 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(150, 161, 172);
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: darkslategrey;
    width: 100%;
    height: auto;
    min-width: fit-content;
    margin-top: 20px;
}

.mid-header {
    display: flex;
    min-width: 100px;
    height: auto;
    padding-left: 20px;
}

.logo {
    height: auto;
    width: 100%;
    min-width: 200px;
    display: flex;
}

.left-header{
    width:350px;
    height: auto;
    padding-left: 50px;
}

.right-header{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 25px;
    padding-right: 70px;
}

.BBB-logo {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    height: auto;
}

.main-body{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: rgb(37, 37, 37);
    gap:40px; 
}


.contact-main-body, .testimonials-main-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:30px;
    font-size: 25px;
    min-height: 72vh;

}

.kitchen8 {
    display:flex;
    height: auto;
    width: 100%;
    min-width: 400px;
    border:rgb(85, 83, 83);
    border-width: 10px;
    border-style: groove;
}

.left-main-body {
    display:flex;
    width: 1050px;
    height: auto;
}

.email {
    text-decoration: underline;
}

.main-body-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: auto;
    gap:30px;
    min-width: 300px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkslategrey;
    gap: 20px;
}

.testimonials-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-body {
    background-color: rgb(51, 47, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.testimonials-text, .testimonials-reallinks {
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    height: auto;
}

.testimonials-links {
    display: flex;
    flex-direction: column;
}


.BeforeAndAfterBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 40px;
    
    
}

.kitchen8before2, .kitchen9, .kitchen8before, .kitchen7 {
    width: 860px;
    height: 750px;
    border:rgb(85, 83, 83);
    border-width: 10px;
    border-style: groove;
    
}

